name: Publish Node.js Package

on:
  release:
    types: [published]

jobs:
  lint:
    uses: costrojs/costro-templates/.github/workflows/lint.yml@main

  npm:
    needs: lint
    uses: yoriiis/actions/.github/workflows/npm-publish.yml@main
    secrets:
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}